nilchain_private_key = "YOUR_PRIVATE_KEY"

# optionally add custom Nillion Network params here

# cluster_id = "b13880d3-dde8-4a75-a171-8a1a9d985e6c"
# grpc_endpoint = "65.109.228.73:9090"
# chain_id = "nillion-chain-testnet-1"
# bootnode = "/dns/node-1.testnet-photon.nillion-network.nilogy.xyz/tcp/14111/p2p/12D3KooWCfFYAb77NCjEk711e9BVe2E6mrasPZTtAjJAPtVAdbye"